// + Colors:

$white: #ffffff;
$black: #000000;
$dark: #181818;
$dark-light: #666666;
$darked: #999999;
$green: #a7c353;
$footer: #313131;

// + Size:

$base-size: 1.3rem;

$s32: 3.2rem;
$s22: 2.2rem;
$s16: 1.6rem;
$s14: 1.4rem;
$s12: 1.2rem;

// + Media:

// + Fonts:
