// * IMPORTS

@import 'vars';

// * MAIN STYLE:
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: $white;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: $base-size;
  color: $darked;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
}

// * BLOCKS STYLE:

@import './blocks/header';
@import './blocks/slider';
